@use 'variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

.shadow {
    box-shadow: 1px 0px 11px 1px rgba(0,0,0,1);
}