// Fuentes
$fuente_headings: "proxima-nova-condensed","Helvetica", arial, sans-serif;
$fuente_textos: "proxima-nova-condensed","Helvetica", arial, sans-serif;

// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;

// Colores
$negro: #171820;
$amarillo: #fdc029;
$anaranjado: #e48c27;
$marron: #8a370a;

$white: #FFFFFF;
$gray: #313131;
$gray-light: #696969;
$black: #000;

$red: rgb(169, 0, 0);
$green: rgb(0, 120, 0);

$separacion: 5rem;