// Fuentes
$fuente_headings: 'Josefin Sans', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;

// Colores
$negro: #171820;
$amarillo: #fdc029;
$anaranjado: #e48c27;
$marron: #8a370a;
$gris:#bcb6ae;

$white: #FFFFFF;
$gray: #6b7280;
$black: #000;

$red: rgb(169, 0, 0);
$green: rgb(0, 120, 0);

$separacion: 5rem;