@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__redes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 20rem;
        height: 5rem;
        margin: 2rem;

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: v.$anaranjado;
            color: v.$black;
            font-size: 5rem;
            border-radius: .5rem;
            width: 5.5rem;
            height: 5.5rem;
            transition-property: background-color, color;
            transition-duration: .2s;

            &:hover {
                background-color: v.$marron;
                color: v.$white;
            }
        }
    }

    &__label {
        font-weight: 600;
        font-size: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 2rem;

        &-mj {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 2rem;
        }

        &-input {
            width: 70%;
            height: 3rem;
            background-color: v.$gray;
            color: v.$white;
            margin: 2rem;
            border: 1px v.$gray-light solid;
            border-radius: 0.5rem;

            @include m.desktop {
                width: 40%;
            }
        }
        
        &-area {
            @extend .contact__form-input;
            height: 20rem;
        }
    }
}