@use 'base/variables' as v;
@use 'base/mixins' as m;

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-txt {
        margin-top: 10rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    &__container {
        background-color: v.$marron;
    }

    &__aboutme {
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5rem;
        align-items: center;
        height: 50rem;
        width: 140rem;

        &-foto {
            width: 40rem;
            min-width: 30rem;
            height: 40rem;
            min-height: 30rem;
            background-color: red;
            margin: 2rem 5rem 2rem 2rem;
            object-fit: cover;
        }

        &-info {
            text-align: left;
            margin: 2rem 2rem 2rem 5rem;
            width: 80rem;
        }
    }

    &__proyects {
        display: flex;
        flex-direction: column;
        margin: 5rem;
        padding: 1rem;
        border-radius: 1rem;

        &__proyect {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2rem;
            background-color: v.$anaranjado;
            border-radius: 1rem;
            
            &-info {
                max-width: 80rem;
                margin: 2rem;
            }
        
            &-img {
                min-width: 50rem;
                min-height: 30rem;
                background-color: white;
                margin: 2rem;
                margin-right: 5rem;
                background-color: red;
            }
        }
    }

    &__contact {
        margin: 10rem 0;

        &-btn {
            @include m.boton(v.$amarillo, v.$black);
            margin: 3rem;
            box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            font-size: 2.5rem;

            &:hover {
                text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
                background-color: v.$marron;
            }
        }
    }
} 