@use "base/variables" as v;
@use "base/mixins" as m;

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__welcome {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        margin-bottom: 15rem;
        background-image: image-set(
            url(../img/fondo-prog.avif) 1x,
            url(../img/fondo-prog.webp) 1x,
            url(../img/fondo-prog.png) 1x
        );
        background-size: cover;
        background-repeat: no-repeat;

        @include m.tablet {
            padding: 6rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                270deg,
                rgba(138, 55, 10, 0.6502976190476191) 0%,
                rgba(70, 26, 3, 0.65) 100%
            );
            z-index: 1;
        }

        &__titule {
            padding: 1rem;
            margin-top: 10rem;
            z-index: 2;
            font-size: 4rem;

            @include m.tablet {
                font-size: 7rem;
            }
            @include m.desktop {
                font-size: 9rem;
            }
        }

        &__name {
            padding: 1rem;
            color: v.$anaranjado;
            z-index: 2;
            font-size: 5rem;
            
            @include m.tablet {
                font-size: 7rem;
            }
            @include m.desktop {
                font-size: 10rem;
            }
        }
    }

    &-txt {
        padding: 1rem;
        margin-top: 5rem;
        font-size: 2rem;
        z-index: 2;
        min-width: 90vw;
    }

    &-txt-center {
        @extend .intro-txt;
        text-align: center;
    }

    &__contact {
        margin-bottom: 15rem;

        &-btn {
            @include m.boton(v.$anaranjado, v.$black);
            margin: 3rem;
            box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            font-size: 2.5rem;

            &:hover {
                text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
                background-color: v.$marron;
            }
        }
    }

    &__proyects {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-bottom: 10rem;
        width: 90%;

        &-proyect {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            background-color: v.$anaranjado;
            width: auto;
            
            @include m.desktop {
                flex-direction: row;
                width: 100%;
            }

            &-info {
                width: 100%;
                margin: 2rem;
                padding: 0 3rem;
                color: v.$black;
            }

            &-img {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                min-width: 35rem;
                min-height: 20rem;
                margin: 3rem;

                @include m.tablet {
                    min-width: 50rem;
                    min-height: 30rem;
                }
            }
        }
    }
}

#proyecto1 {
    background-image: image-set(
        url(../img/proyecto1.avif) 1x,
        url(../img/proyecto1.webp) 1x,
        url(../img/proyecto1.png) 1x
    );
}

#proyecto2 {
    background-image: image-set(
        url(../img/proyecto2.avif) 1x,
        url(../img/proyecto2.webp) 1x,
        url(../img/proyecto2.png) 1x
    );
}

#proyecto3 {
    background-image: image-set(
        url(../img/proyecto3.avif) 1x,
        url(../img/proyecto3.webp) 1x,
        url(../img/proyecto3.png) 1x
    );
}
