@use "base/variables" as v;
@use "base/mixins" as m;

.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-proyect {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        background-color: v.$anaranjado;
        width: 90%;
        
        @include m.desktop {
            flex-direction: row;
        }

        &-info {
            width: 100%;
            margin: 2rem;
            padding: 0 3rem;
            color: v.$black;
            text-align: justify;
        }

        &-img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-width: 35rem;
            min-height: 20rem;
            margin: 3rem;

            @include m.tablet {
                min-width: 50rem;
                min-height: 30rem;
            }
        }
    }
}