@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    position: fixed;
    top: 0;
    width: 100%;
    // backdrop-filter: blur(1rem);
    background-color: v.$black;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 2;

    @include m.tablet {
        height: 7rem;
        justify-content: flex-end;

    }

    &__contenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__logo {
        background-size: cover;
        background-repeat: no-repeat;
        width: 6rem;
        height: 6rem;
        margin: 2rem;
        z-index: 3;
        background-image: 
            image-set(url(../img/logo2.avif) 1x,
            url(../img/logo2.webp) 1x,
            url(../img/logo2.png) 1x)
        ;
        background-color: v.$white;
        border-radius: 50%;

        &:hover {
            background-color: v.$marron;
        }
    }

    &__name {
        font-size: 2.5rem;
        text-decoration: none;
        position: relative;
        z-index: 2;
        color: v.$white;
    }

    &__link {
        padding: 2rem;
        font-size: 2.5rem;
        text-decoration: none;
        position: relative;
        z-index: 2;
        color: v.$white;

        &:hover {
            background-color: rgb(255, 255, 255);
            color: v.$marron;
            font-weight: 700;
        }
    }

    &__links {
        display: none;
      }
      
      // Estilo para el botón de alternancia
      &__toggle-button {
        display: block;
        cursor: pointer; // Agregamos un puntero para indicar que es interactivo
      }
      
      // Aplica estilos específicos para tablet (aumenta el alto)
      @media (min-width: 768px) {
        &__links {
          display: flex; // Mostrar enlaces en tablet
          flex-direction: row; // Alineación horizontal de los enlaces
        }
        &__toggle-button {
          display: none; // Ocultar el botón en tablet
        }
    }
}