@use 'base/variables' as v;
@use 'base/mixins' as m;

.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
        image-set(url(../img/fondo-prog.avif) 1x,
        url(../img/fondo-prog.webp) 1x,
        url(../img/fondo-prog.jpg) 1x)
    ;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: 
            radial-gradient(at 0% 0%, hsla(32,76%,49%,1) 0px, transparent 50%),
            radial-gradient(at 0% 100%, hsla(38,97%,56%,0.59) 0px, transparent 50%),
            radial-gradient(at 100% 100%, hsla(21,85%,28%,0.54) 0px, transparent 50%),
            radial-gradient(at 100% 0%, hsla(31,74%,49%,0.54) 0px, transparent 50%),
            radial-gradient(at 89% 2%, hsla(0,0%,0%,0.49) 0px, transparent 50%),
            radial-gradient(at 98% 78%, hsla(0,0%,100%,0.51) 0px, transparent 50%),
            radial-gradient(at 22% 40%, hsla(233,14%,10%,0.51) 0px, transparent 50%)
        ;
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__contenedor {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
    }

    &__titule,
    &__name,
    &__iam {
        position: relative;
        z-index: 2;
        color: v.$white;
        text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
    }

    &__titule {
        @include m.tablet {
            font-size: 6rem;
        }
    }

    &__name {
        @include m.tablet {
            font-size: 8rem;
        }
    }

    &__iam {
        text-align: center;

        @include m.tablet {
            font-size: 2.2rem;
        }
    }

    &__btn {
        position: relative;
        z-index: 2;
        margin-top: 10rem;
        @include m.boton(v.$white, v.$black);

        &:hover {
            background-color: v.$anaranjado;
            box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

            .welcome__icon {
                color: v.$white;
            }
        }
    }

    &__icon {
        color: v.$black;
        transition-property: color;
        transition-duration: .3s;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.8s;
    z-index: 9999;
}