@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 5rem;
    padding: 1rem;
    background-color: v.$black;
    border-top: 1px solid v.$gray;

    &__logo {
        background-image: image-set(
            url(../img/logo2.avif) 1x,
            url(../img/logo2.webp) 1x,
            url(../img/logo2.png) 1x);
        background-size: cover;
        background-repeat: no-repeat;
        width: 3.5rem;
        height: 3.5rem;
        margin: 1rem;
        background-color: v.$white;
        border-radius: 50%;
    }

    &__titule {
        font-size: 1.5rem;
        padding: 1rem;
        color: v.$white;
        margin: 0;
    }
}