@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between !important;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: v.$black;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 2;

    @include m.tablet {
        flex-direction: row;
    }

    #nav-mobile, #nav-tablet, #nav-desktop {
        display: none;
    }

    @include m.mobile {
        #nav-mobile {
            display: block;
        }
    }

    @include m.tablet {
        #nav-tablet {
            display: block;
        }
    }

    @include m.desktop {
        #nav-desktop {
            display: block;
        }
    }
    
    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo {
            display: block;

            @include m.tablet {
                display: flex;
            }

            &--toggle {
                display: none;

                @include m.tablet {
                    display: block;
                }
            }
        }
    }

    &__logo {
        background-image: image-set(
            url(../img/logo2.avif) 1x,
            url(../img/logo2.webp) 1x,
            url(../img/logo2.png) 1x);
        background-size: cover;
        background-repeat: no-repeat;
        width: 6rem;
        height: 6rem;
        margin: 1rem;
        z-index: 3;
        background-color: v.$white;
        border-radius: 50%;

        &:hover {
            background-color: v.$marron;
        }
        
        @include m.tablet {
            width: 5rem;
            height: 5rem;
            margin: 2rem;
        }
    }

    &__name {
        font-size: 2.5rem;
        text-decoration: none;
        position: relative;
        z-index: 2;
        color: v.$white;

        @include m.tablet {
            margin: 1rem;
        }
    }

    &__toggle-image {
        background-image: url('../img/barras.avif');
        background-size: cover;
        background-position: 0%;
        display: block;
        cursor: pointer;
        width: 6rem;
        height: 6rem;
        margin: 1rem;
        z-index: 3;

        @include m.tablet {
            width: 5rem;
            height: 5rem;
            margin: 2rem;
        }

        @include m.desktop {
            display: none;
        }
    }

    &__links {
        display: none;

        @include m.mobile {
            display: block;
        }

        @include m.tablet {
            display: block;
            flex-direction: column;
        }

        @include m.desktop {
            display: flex;
        }
    }

    &__link {
        padding: 2rem;
        font-size: 2.5rem;
        text-decoration: none;
        position: relative;
        z-index: 2;
        color: v.$white;

        &:hover {
            background-color: rgb(255, 255, 255);
            color: v.$marron;
            font-weight: 700;
        }
    }
}